.wrapper {
  overflow: hidden;
}

header {
  display: flex;
  align-items: center;
  width: 100%;
  overflow: hidden;
  justify-content: space-around;
  // background: #e0ebe8;
  /* background: #a8c8b9;   */
  padding-top: 10px;
  z-index: 99;
}

.container {
  max-width: 70%;
  margin: auto;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.brand {
  display: flex;
}

.brand a {
  color: #b9333d;
  font-size: 36px;
  &::selection{
    background: #ECA042;
  }
}

.menu {
  display: flex;
  align-items: center;
}

.menu__item {
  display: block;
  margin-right: 20px;
}

.menu__link {
  color: #b9333d;
  font-size: 18px;
}

.menu__link::selection{
  background: #ECA042;
}

@media screen and (max-width:600px){
  header{
    flex-direction: column;
    justify-content: center;
  }
  .navigation{
    justify-content: center;
  }
}


















//case studies styling
.casestudy__hero {
  padding-top: 50px;
  text-align: center;

  & img {
    width: 250px;
    height: 250px;
    margin: 0;
  }
}

.projects {
  display: flex;
  flex-direction: column;
  padding-bottom: 400px;
}

.project {
  padding: 50px 0;
  color: #fff;
  background: rgba(70, 70, 133, 0.9);
}

.project__img--wrapper {
  max-width: 800px;
  margin: auto;
  overflow: hidden;
  padding: 30px 0;
  & img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
  }
}

.project__info {
  text-align: center;
  max-width: 600px;
  margin: auto;
  letter-spacing: 1px;
  & h2 {
    font-size: 32px;
  }

  & h3 {
    font-size: 20px;
  }

  & p {
    padding: 20px;
    font-size: 18px;
  }
}

.btn--yellow {
  color: #f79f1f;
  background: #fff;
  border: 1px solid #f79f1f;
}

.btn--yellow:hover {
  background: #f79f1f;
  color: #fff;
}
