
// hello section

#hello {
  position: relative;
  display: flex;
  flex-direction: column;  
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
}

.board__wrapper{
  position: relative;
  margin-left: -100px;
}

.board {
  width: 300px;
  height: 300px;
}

.hello__text {
  text-align: center;
  font-size: 22px;
  max-width: 500px;
  padding: 10px;
}

.text {
  font-size: 20px;
}

.text::selection{
  background:#ECA042;  
}

@media screen and (max-width:750px){
 .hello{
   left: 35%;
 }
}