
// hello section

#hello {
  position: relative;
  display: flex;
  flex-direction: column;  
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
}

.board__wrapper{
  position: relative;
  margin-left: -100px;
}

.board {
  width: 300px;
  height: 300px;
}

.hello__text {
  text-align: center;
  font-size: 22px;
  max-width: 500px;
  padding: 10px;
}

.text {
  font-size: 20px;
}

.text::selection{
  background:#ECA042;  
}

@media screen and (max-width:750px){
 .hello{
   left: 35%;
 }
}
/* skills section */

#my-skills {
  font-family: Acme;
  max-width: 80%;
  margin: auto;
  text-align: center;
  position: relative;
  overflow: hidden;
  padding-bottom: 100px;
}

.heading{
  font-size: 3.5em;
  color:  rgba(185, 51, 61,0.9); 
}

.heading::selection{
  background:#ECA042;
}

.idea__wrapper{
  position: absolute;
  left: -10%;
}

.skill__title {
  color: rgba(185, 51, 61,0.9);
  font-size: 2em;
  padding: 1em 0 0.4em; 
  
}

#my-skills p{
  font-size: 1.1em;
  line-height: 1.3;
  color: #333;  
  padding: 0 0 1.5em;
  
}

#my-skills h3::selection{
  background:#ECA042;
}


#my-skills p::selection{
  background:#ECA042;
}

@media screen and (max-width:600px){
  .skills{
    padding-top:400px;
  }
}

// Works styling
#works{
  text-align: center;
}
.works__img{
  height: 250px;
  width:250px;
}