

// Works styling
#works{
  text-align: center;
  padding-bottom:150px;
}
.works__img{
  height: 250px;
  width:250px;
}

.works{
  padding-top: 30px;
  display: flex;  
  flex-wrap: wrap;
  max-width: 90%;
  margin:auto;
}

.work{
  box-shadow: 1px 2px 3px 0 rgba(0,0,0,0.22),-1px -2px 3px 0 rgba(0,0,0,0.22);
  flex-basis: 30%;
  margin:0 0px 60px 30px;
  display: flex;
  flex-direction: column;
  position: relative;
  &:first-child{
    margin-left:0;
  }
}

.img__portfolio{
  width: 100%;
}

.work__info{
  padding:0 20px 20px 20px ;
  text-align: justify;
  
}

.work__action{
  padding:0 20px 20px 20px;
}

.btn--work{
  margin-bottom: 20px;
  display: block;
}

@media screen and (max-width:972px){
  .work{
    flex-basis:40%;
  }

  .work__action{
    flex-direction: column;
    justify-content: space-around;
  }
  .work{
    margin-right:0;
  }
}

@media screen and (max-width:600px){
  .works{
    flex-direction: column;
  }

  .work__action{
    flex-direction: column;
    justify-content: space-around;
  }
  .work{
    margin-right:0;
  }
}