// hire me
#hire-me {
  min-height: 600px;
  display: flex;
  flex-direction: column;
  // text-align: center;
  align-items: center;
  overflow: hidden;
  padding-bottom:100px; 
}

#hire-me p {
  padding: 30px 0;
  font-size: 18px;
  text-align: center;
  max-width: 600px;
}

#hire-me p::selection {
  background: #eca042;
}

.btn--green {
  border: 1px solid #009432;
  color: #fff;
  background:rgba(0, 148, 50,0.95);
  letter-spacing: 2px;
}

.btn--green:hover {
  background: #009432;
  color: #fff;
}


footer{
  text-align: center;
  color:rgba(185, 51, 61,0.9);  
  padding:10px;  
  overflow: hidden;
}

.link{
  color:rgba(185, 51, 61,0.9);  
}