.wrapper {
  overflow: hidden;
}

header {
  display: flex;
  align-items: center;
  width: 100%;
  overflow: hidden;
  justify-content: space-around;
  // background: #e0ebe8;
  /* background: #a8c8b9;   */
  padding-top: 20px;
}

.container {
  max-width: 70%;
  margin: auto;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.brand {
  display: flex;
}

.brand a {
  color: #b9333d;
}

.menu {
  display: flex;
  align-items: center;
}

.menu__item {
  display: block;
  margin-right: 20px;
}

.menu__link {
  color: #b9333d;
  font-size: 18px;
}

.hero {
  // background: #a8c8b9;
  // background: #e0ebe8;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 180px;
}

.hero__img--wrapper {
  flex: 1 0 50%;
  position: relative;
}

.hero__img {
  position: absolute;
  left: 20%;
  user-select: none;
  display: block;
}

.intro {
  padding-top: 50px;
  color: #b9333d;
  flex: 1 0 50%;
}

.intro h1 {
  font-size: 38px;
}

.intro h3 {
  font-size: 38px;
}

.intro h3::selection{
  background:#ECA042;
  
}

.slogan {
  padding: 20px 20px 20px 0;
  font-size: 20px;
  color: #444;
  letter-spacing: 1px;
}

.slogan p {
  padding:0 0 30px 0;
}

.slogan p::selection{
  background:#ECA042;
  
}

.spacer--left{
  margin-left: 30px;
  user-select: none;
}

.btn {
  display: inline-block;
  padding: 6px 14px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  font-size: 17px;
  box-shadow: 1px 2px 3px 0 rgba(0, 0, 0, 0.2);
  outline: none;
  user-select: none;
}

.btn:hover {
  box-shadow: 2px -1px 3px 0 rgba(0, 0, 0, 0.4);
}

.btn--blue {
  color: #005daa;
  background: #fff;
  border: 1px solid #005daa;  
}

.btn--blue:hover {
  background: #005daa;
  color: #fff;
}

.btn--red{
  color:rgba(185, 51, 61,0.9);
  border:1px solid rgba(185, 51, 61,0.9);
}

.btn--red:hover{
  background:  rgba(185, 51, 61,0.9);
  color:#fff;
  
}

@media screen and (max-width: 972px) {
  .hero__img {
    left: -10%;
  }
}

@media screen and (max-width: 750px) {
  .hero {
    flex-direction: column;
    align-items: center;
    padding-bottom: 120px;
  }
  .hero__img {
    position: relative;
    left: 0%;
  }

  .intro {
    text-align: center;
  }

  .slogan {
    padding: 10px;
  }
}
